.tile:hover {
    cursor: pointer;
    opacity: 1;
    text-decoration: underline;
    -webkit-transform: scale(1.2);
}

.room-select-title {
    margin-top: 25px;
    margin-bottom: 25px;
}

.room-select-title h2 {
    text-align: center;
}

.tile {
    transition: 0.5s ease;
    opacity: 0.65;
    margin-bottom: 15px;
    text-align: center;
    font-size: 17px;
    border-radius: 3px;
}

.tile a {
    cursor: pointer;
    line-height: 50px;
    color: white;
    display: block;
}

.tile a:hover {
    text-decoration: none;
    color: white;
}

.welcome-title {
    text-align: center;
    margin-top: 50px;
    font-size: 3.25rem;
}

.header-aion-logo {
    width: 30px;
    margin-left: 15px;
    margin-right: 30px;
}
