body {
    background-color: #F9FCFF !important;
    font-family: 'Roboto', sans-serif;
}

@media (min-width: 980px) {
    .navbar {
        width: 100% !important;
        padding-left: calc(50vw - 500px) !important;
    }
}

.navbar {
    width: 100% !important;
}

.header-aion-logo {
    width: 30px;
    margin-left: 15px;
    margin-right: 10px;
}

.layout {
    background-color: white;
    margin: 0 auto;
    height: 100%;
    max-width: 980px;
    position: relative;
    padding: 20px 40px;
    min-height: calc(100vh - 135px);
}

footer {
    background-color: #5CB85C;
    padding: 20px 0;
    max-width: 980px;
    position: relative;
    margin: 0 auto;
}

footer p {
    text-align: center;
    font-size: 9px;
    color: #FFFFFF;
    margin: 0;
}

.auth-container {
    padding-top: 40px;
}

.auth-toggle-button {
    color: #FF385F !important;
    font-weight: bolder !important;
    font-size: 10px !important;
    padding-left: 0 !important;
    margin-bottom: 20px;
}

.auth-button {
    margin-top: 15px;
    width: 100%;
}

.auth-button {
    margin-top: 15px;
    width: 100%;
}

.auth-page-content {
    margin-top: 20px;
}

.auth-page-content p {
    position: relative;
}

.auth-page-content p::before {
    content: "\f055";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    color: #5CB85C;
    font-size: 18px;
    position: relative;
    top: 1px;
    left: 2px;
    margin-right: 10px;
}

.highlight-aion {
    color: #5CB85C;
}

.tile:hover {
    cursor: pointer;
    opacity: 1;
    text-decoration: none;
    -webkit-transform: scale(1.2);
}

.tile {
    transition: 0.5s ease;
    opacity: 0.65;
    margin-bottom: 0px;
    border-radius: 3px;
    background-color: #5CB85C;
}

.tile a {
    cursor: pointer;
    color: white;
    display: block;
}

.tile a:hover {
    text-decoration: none;
    color: white;
}

.tile a p {
    text-align: center;
    line-height: 0.5;
}

.tile-room-name {
    padding-top: 30px;
    font-size: 14px;
    font-weight: bold;
}

.tile-player-count {
    padding-bottom: 30px;
    font-size: 12px;
}

.tile-player-count::before {
    content: "\f007";
    font-family: FontAwesome;
    color: white;
    position: relative;
    top: 1px;
    left: 2px;
    margin-right: 8px;
}

.panel-container {
    padding: 0 40px;
}

.toasty-notification {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 300px;
    list-style-type: none;
    padding: 0;
    margin: 50px 0 0 0;
    z-index: 5;
}

.room-container {
    padding: 10px 50px;
}

.room-scoreboard {
    margin-top: 20px;
    position: relative;
    z-index: 0;
}

.room-events {
    margin-top: 10px;
    position: relative;
    z-index: 0;
}

.room-question {
    margin-top: 20px;
    margin-bottom: 20px;
}

.room-image {
    max-width: 100%;
    height: 300px;
}

.room-image-hidden{
    max-width: 100%;
    height: 300px;
    display: none;
}

.room-question-hidden {
    margin-top: 20px;
    margin-bottom: 20px;
    display: none;
}

.room-answer-input {
    padding-top: 20px;
}

.room-answer-button {
    margin-top: 20px;
}

.multiselectWrap {
    position: relative;
    width: 100%;
}

.multiselectContainer {
    border: 1px solid #ccc;
    border-radius: 4px;
    border-color: #d9d9d9 #ccc #b3b3b3;
    background-color: #fff;
    color: #333;
    height: 34px;
    width: 100%;
    display: table;
}

.multiselectInputWrap {
    display: inline-block;
    margin-left: 5px;
    padding: 0;
    vertical-align: middle;
    padding-bottom: 8px;
}

.multiselectInput {
    border-style: none;
    border: 0;
    line-height: 14px;
    outline-style: none;
    font-size: inherit;
    line-height: 1;
    padding: 0;
    padding-top: 8px;
}

.multiselectInputMirrow {
    position: absolute;
    top: -100px;
    left: -100px;
    height: 0;
    overflow: scroll;
    font-weight: normal;
    font-style: normal;
    font-size: inherit;
    line-height: 1;
}

.multiselectFocused {
    border-color: #007eff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
}

.multiselectOpened {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.multiselectTagWrap {
    display: inline;
}

.multiselectTag {
    color: #007eff;
    border: 1px solid;
    border-color: rgba(0, 126, 255, 0.24);
    border-radius: 2px;
    background-color: rgba(0, 126, 255, 0.08);
    display: inline-block;
    font-size: 0.9em;
    line-height: 1.4;
    margin-left: 5px;
    margin-top: 5px;
    vertical-align: top;
}

.multiselectTagIcon {
    cursor: pointer;
    border-right: 1px solid rgba(0, 126, 255, 0.24);
    padding: 1px 5px 3px;
    display: inline-block;
    vertical-align: middle;
}

.multiselectTagIcon:hover {
    background-color: #d8eafd;
}

.multiselectTagLabel {
    padding: 2px 5px;
    display: inline-block;
    vertical-align: middle;
}

.multiselectClearWrap {
    width: 17px;
    color: #999;
    cursor: pointer;
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

.multiselectClearWrap:hover {
    color: #D0021B;
}

.multiselectClearWrap > .multiselectClear {
    display: inline-block;
    font-size: 18px;
    line-height: 1;
}

.multiselectArrowWrap {
    cursor: pointer;
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 25px;
    padding-right: 5px;
}

.multiselectArrowWrap:hover > .multiselectArrow {
    border-top-color: #666;
}

.multiselectArrowWrap:hover > .multiselectArrowUpside {
    border-bottom-color: #666;
}

.multiselectArrowWrap > .multiselectArrow {
    border-color: #999 transparent transparent;
    border-style: solid;
    border-top-width: 5px;
    border-left-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 2.5px;
    display: inline-block;
    height: 0;
    width: 0;
    position: relative;
}

.multiselectArrowWrap > .multiselectArrowUpside {
    border-color: transparent transparent #999;
    border-style: solid;
    border-top-width: 2.5px;
    border-left-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    display: inline-block;
    height: 0;
    width: 0;
    position: relative;
    top: -2.5px;
}

.multiselectMenu {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top-color: #e6e6e6;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    margin-top: -1px;
    max-height: 200px;
    position: absolute;
    width: 100%;
    z-index: 1;
    overflow-y: scroll;
}

.multiselectMenuItem {
    color: #666;
    cursor: pointer;
    padding: 8px 10px;
    max-height: 32px;
}

.multiselectMenuItemHovered {
    background-color: rgba(0, 126, 255, 0.08);
    color: #333;
}

.profile-container {
    padding: 30px 30px 0 20px;
}

.user-avatar {
    height: 200px;
    float: left;
    clear: both;
    border-radius: 25px;
    border: 2px solid #5CB85C;
}

.user-info-block {
    display: inline-block;
    margin-left: 50px;
    margin-top: 10px;
    font-size: 24px;
}

.user-name::before {
    content: "\f007";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    color: #5CB85C;
    position: relative;
    top: 1px;
    left: 5px;
    margin-right: 25px;
}

.user-email::before {
    content: "\f0e0";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    color: #5CB85C;
    position: relative;
    top: 1px;
    left: 2px;
    margin-right: 20px;
}

.user-logut {
    margin-top: 30px;
}